:root {
  --color-light-bg: #ffffff
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  color: #333;
  font-family: "JetBrains Mono", serif;
  font-size: 13px;
}

.map-container {

  display: flex;
  width: 100%;
  background-color: var(--color-light-bg);

  #map-main {
    position: relative;
    min-height: 100vh;
    flex: 1;
    overflow: hidden;

    .hy-icon-marker {
      width: 0;
      height: 0;
    }

    .location-marker {
      width: 10px;
      height: 10px;
      border: #ffffff solid 2px;
      border-radius: 50%;
      background: #1890ff;
    }

    .map-controls-wrap {

      z-index: 999;
      position: absolute;
      top: 50%;
      right: 0;

      .map-controls {
        right: 0;
        top: 0;
        width: 40px;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        padding: 5px 0;
        pointer-events: none;

        .map-control {
          position: relative;
          display: flex;
          flex-direction: column;

          button {
            text-align: center;
            border: 0;
            background: #fff;
            color: #333;
            font-size: 12px;
            display: inline-block;
            border-radius: 4px;
          }

          &>button {
            position: relative;
            width: 40px;
            height: 40px;
            background: rgba(0,0,0,0.5);
            border-radius: 0;
            pointer-events: auto;
          }

          &>button svg {
            fill: #fff;
          }

          &>button.disabled {
            color: rgba(0,0,0,0.5);
            cursor: not-allowed;

            & svg {
              fill: rgba(255,255,255,0.5);
            }
          }

          &>button:not(.disabled):hover {
            background: rgba(0,0,0,0.8);
          }

          &.zoombuttons>button.zoom-in {
            border-radius: 4px 0 0 0;
          }

          &.geolocate-control>button {
            border-radius: 0 0 0 4px;
          }
        }

      }

    }

  }

  .layer-select-drawer {

    width: 0;
    min-width: 0;
    max-width: 0;
    opacity: 0;
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    transition: all 0.15s;
    background-color: var(--color-light-bg);
    overflow: auto;

    &.open {
      width: 220px;
      min-width: 220px;
      max-width: 220px;
      opacity: 1;
      padding: 12px 6px;
    }

    .layer-heading {
      padding: 10px 8px;
      margin-bottom: 20px;
      border-bottom: #d9d9d9 solid 1px;

      h2 {
        display: inline-block;
        font-size: 20px;
        font-weight: 600;
      }

      .el-icon {
        float: right;
        cursor: pointer;
      }
    }

    .layer-select {

      padding: 8px;

      .layer-map-select-list {
        h3 {
          margin-bottom: 8px;
          color: #1890ff;

          a {
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 4px;
            text-decoration: none;
            color: #1890ff;

            span {
              margin-left: 4px;
            }
          }
        }
      }

      .layer-list {
        padding-left: 20px;
        flex-direction: column;

        .el-radio {
          margin: 0;
        }
      }
    }

  }

  .sidebar {
    margin: 16px 0 0 16px;
    position: fixed;
    z-index: 1000;
    width: 280px;

    .el-input {
      width: 100%;
    }

    .search-key-words {
      margin-top: 6px;
      background-color: #fff;
      border-radius: 2px;
      width: 100%;

      li {
        padding: 0 8px;
        line-height: 32px;
        height: 32px;
        transition: background .6s;
        cursor:pointer;
        white-space: nowrap;
        width: 100%;

        &:hover {
          background: #f5f5f5;
        }

        .name {
          font-size: 16px;
          padding: 0 8px;
        }

        .address {
          color: #bfbfbf;
        }
      }
    }
  }

  .sidebar-table {
    position: fixed;
    width: 30%;
    height: 100vh;
    z-index: 996;
    background-color: #fff;
    padding-top: 80px;
  }

}


