#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  position: relative;
  z-index: 0;
  color: #333;
  touch-action: none;
  font-family: "JetBrains Mono", serif;
  font-size: 13px;
}
